<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctionapp33.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f861f5ef-5adf-441e-8ab8-817d1409eb94/resourceGroups/app-grp/providers/Microsoft.Web/sites/AzurefunctionApp33</ResourceId>
    <UserName>$AzurefunctionApp33</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azurefunctionapp33.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>